Repository Leets-Official/SEEAT-FE, pull requests merged in 2025-08, with the labels that each got.

#42 [Feat] 후기 페이지 수정
  src/assets/gif/ticket_alt.gif
  src/assets/index.tsx
  src/components/review/ReviewLayout.tsx
  src/components/review/TagSection.tsx
  src/constants/reviewTags.ts
  src/pages/review/MovieInfoStep.tsx
  src/pages/review/ReviewContent.tsx
  src/pages/review/TagPage.tsx
  src/pages/review/TicketPage.tsx
  src/store/useReviewStore.ts
Labels: 🎨Style, ✨Feature

#40 [feat] 레벨 페이지 구현
  src/components/common/LevelCard/LevelCard.tsx
  src/components/common/LevelCard/LevelInfoCard.tsx
  src/components/common/LevelCard/MyLevelCard.tsx
  src/components/index.tsx
  src/constants/levelcondition.ts
  src/pages/my/Level.tsx
  src/pages/my/MyPage.tsx
  src/routes/route.tsx
Labels: 🎨Style, ✨Feature

#46 [Feat] 홈 추가 페이지 구현
  src/__mocks/bestReviewMock.ts
  src/__mocks/index.ts
  src/__mocks/seatReviewMock.ts
  src/assets/icons/bar_icon.svg
  src/assets/icons/default_thumbnail.svg
  src/assets/icons/star_fill.svg
  src/assets/icons/star_half.svg
  src/assets/icons/star_line.svg
  src/assets/index.tsx
  src/components/common/ReviewCard/ReviewCard.tsx
  src/components/common/ReviewCard/ReviewCard.types.ts
  src/components/common/ReviewCard/ThumbnailFallback.tsx
  src/components/examples/BottomNavigationExamples.tsx
  src/components/index.tsx
  src/components/review/StarRating.tsx
  src/global.css
  src/pages/home/PopularReview.tsx
  src/pages/home/ReviewDetail.tsx
  src/pages/home/SeatReviewPage.tsx
  src/pages/home/TheaterDetail.tsx
  src/pages/home/TheaterReviewListPage.tsx
  src/pages/home/TheatersList.tsx
  src/pages/my/MyPage.tsx
  src/routes/route.tsx
  src/types/bestReview.ts
  src/utils/calculateAverageRating.ts
  src/utils/reviewUtils.ts
Labels: 🎨Style, ✨Feature

#51 [Feat] 해시태그 api 연결
  src/__mocks/reviewDetailMock.ts
  src/__mocks/reviewSummaryMock.ts
  src/api/api.ts
  src/api/hashtag/hashtag.ts
  src/constants/index.ts
  src/constants/reviewTags.ts
  src/pages/review/TagPage.tsx
  src/store/useReviewStore.ts
  src/types/hashtag.ts
  vite.config.ts
Labels: 🔗API, ✨Feature

#50 [feat] 태그리뷰넘버 컴포넌트 구현
  src/assets/icons/companion.svg
  src/assets/icons/environment.svg
  src/assets/icons/sound.svg
  src/assets/index.tsx
  src/components/common/TagReviewNumber/TagReviewNumber.tsx
  src/components/examples/TagReviewNumber.tsx
  src/components/index.tsx
  src/routes/route.tsx
Labels: ✨Feature

#55 [Feat] 인기 목록 조회 api
  src/api/hashtag/hashtag.api.ts
  src/api/home/bestCinemas.api.ts
  src/api/home/popularReview.api.ts
  src/components/common/BestCinemaCard/BestCinemaCard.tsx
  src/pages/home/HomePage.tsx
  src/pages/home/PopularReview.tsx
  src/pages/review/TagPage.tsx
  src/types/bestCinema.ts
  src/types/review.ts
Labels: 🔗API, ✨Feature

#67 [Feat] 상영관, 좌석별 리뷰 목록 api 연결
  src/__mocks/reviewSummaryMock.ts
  src/api/review/getAuditoriumReviews.api.ts
  src/api/review/getSeatReviews.api.ts
  src/assets/icons/chevron_down.svg
  src/assets/icons/chevron_up.svg
  src/assets/icons/smile.svg
  src/assets/index.tsx
  src/components/common/TagReviewNumber/TagCardList.tsx
  src/components/common/TagReviewNumber/TagReviewNumber.tsx
  src/components/index.tsx
  src/constants/taglist.ts
  src/pages/home/SeatReviewPage.tsx
  src/pages/home/TheaterDetail.tsx
  src/pages/home/TheaterReviewListPage.tsx
  src/pages/home/TheatersList.tsx
  src/routes/route.tsx
  src/types/review.ts
Labels: 🔗API, ✨Feature

#71 [Feat] 영화관 추가 UI 구현
  src/assets/icons/chevron_down.svg
  src/assets/icons/chevron_up.svg
  src/assets/icons/smile.svg
  src/assets/index.tsx
  src/components/common/TagReviewNumber/TagCardList.tsx
  src/components/common/TagReviewNumber/TagReviewNumber.tsx
  src/components/index.tsx
  src/constants/taglist.ts
  src/pages/home/TheaterDetail.tsx
  src/pages/home/TheatersList.tsx
Labels: 🎨Style, ✨Feature

#59 [feat] 프로필api연결
  src/api/profile/profile.api.ts
  src/assets/icons/level1.svg
  src/assets/icons/level2.svg
  src/components/common/LevelCard/LevelCard.tsx
  src/components/common/ProfileImage/ProfileImageWithFallback.tsx
  src/components/index.tsx
  src/constants/level.ts
  src/pages/my/MyPage.tsx
  src/pages/my/MySetting.tsx
  src/types/user.ts
Labels: 🔗API, ✨Feature

#65 [feat] 로그아웃,회원탈퇴,계정정보 api연결
  src/App.tsx
  src/api/logout/logout.api.ts
  src/api/profile/profile.api.ts
  src/hooks/queries/useUserProfileQuery.ts
  src/pages/my/MySetting.tsx
Labels: 🔗API, ✨Feature

#80 [Feat] 액션시트 모달 컴포넌트 구현
  src/components/common/Modal/ActionModal.tsx
  src/components/common/Modal/BaseModal.tsx
  src/pages/onboarding/OnboardingGenrePage.tsx
Labels: 🎨Style, ✨Feature

#83 [Feat] 리뷰 삭제/조회 API 연결
  src/__mocks/reviewDetailMock.ts
  src/api/review/getReviewDetail.api.ts
  src/api/review/reviewDelete.api.ts
  src/api/review/reviewRewrite.api.ts
  src/components/common/Modal/BaseModal.tsx
  src/pages/home/HomePage.tsx
  src/pages/home/ReviewDetail.tsx
  src/types/review.ts
Labels: 🔗API

#86 [Refactor] 로그인회원가입 페이지 UI 수정 + 닉네임 중복 확인 API 연결
  src/api/user/users.api.ts
  src/assets/index.tsx
  src/components/common/Input/Input.tsx
  src/components/common/ProgressBar/ProgressBar.tsx
  src/components/common/Theater/TheaterList.tsx
  src/pages/home/TheaterReviewListPage.tsx
  src/pages/login/LoginPage.tsx
  src/pages/my/SelectGenre.tsx
  src/pages/onboarding/OnboardingGenrePage.tsx
  src/pages/onboarding/OnboardingNicknamePage.tsx
  src/pages/onboarding/OnboardingTheaterPage.tsx
  src/pages/splash/SplashPage.tsx
  src/types/movieGenre.ts
  src/utils/chunkArray.ts
  src/utils/validateNickname.ts
Labels: ♻️Refactor, 🎨Style, 🔗API, ✨Feature

#69 [feat] 프로필 수정 api 연결
  package-lock.json
  package.json
  src/api/image/image.api.ts
  src/api/profile/profile.api.ts
  src/api/review/review.ts
  src/api/user/userEdit.api.ts
  src/assets/index.tsx
  src/components/common/ImagePreview/ImagePreviewItem.tsx
  src/components/index.tsx
  src/constants/theater.ts
  src/hooks/mutations/usePresignedUrlMutation.ts
  src/hooks/mutations/useUploadToS3Mutation.ts
  src/hooks/useImageUpload.ts
  src/hooks/useS3UploadFlow.ts
  src/pages/my/CinemaChoice.tsx
  src/pages/my/ProfileEdit.tsx
  src/pages/my/SelectGenre.tsx
  src/pages/onboarding/OnboardingNicknamePage.tsx
  src/pages/onboarding/OnboardingTheaterPage.tsx
  src/pages/review/CinemaSelect.tsx
  src/pages/review/ReviewContent.tsx
  src/store/useOnboardingStore.ts
  src/types/image.ts
  src/types/user.ts
  src/types/userEdit.ts
Labels: 🔗API, ✨Feature

#87 [Feat] 좌석 선택 연결
  src/api/review/review.ts
  src/api/review/reviewRewrite.api.ts
  src/api/theater/theater.api.ts
  src/components/common/Modal/SeatModal/SeatModal.tsx
  src/components/common/Modal/SeatModal/SeatPickerModal.tsx
  src/components/common/Modal/SeatModal/SeatWriteModal.tsx
  src/components/review/TagSection.tsx
  src/components/seat/SeatMap.tsx
  src/components/seat/SeatRow.tsx
  src/components/seat/TestSeatButton.tsx
  src/pages/home/PopularReview.tsx
  src/pages/home/ReviewDetail.tsx
  src/pages/home/SeatReviewPage.tsx
  src/pages/home/TheaterDetail.tsx
  src/pages/review/MovieInfoStep.tsx
  src/pages/review/RatingStep.tsx
  src/pages/review/ReviewContent.tsx
  src/pages/review/TagPage.tsx
  src/pages/seat/SeatTest.tsx
  src/routes/route.tsx
  src/store/useReviewStore.ts
Labels: 🔗API, ✨Feature

#89 [Feat] 무한 스크롤 구현
  src/api/theater/theater.api.ts
  src/components/common/Theater/TheaterList.tsx
  src/hooks/queries/useTheatersQuery.ts
  src/hooks/useInfiniteScroll.ts
  src/pages/home/TheatersList.tsx
  src/pages/onboarding/OnboardingTheaterPage.tsx
  src/pages/review/CinemaSelect.tsx
  src/types/api-response.ts
Labels: ✨Feature

#90 [feat] 리뷰검색 api 연결
  src/App.tsx
  src/pages/search/ReviewFilter.tsx
  src/pages/search/ReviewSearch.tsx
  src/pages/search/ReviewSearchResult.tsx
Labels: 🔗API, ✨Feature

#94 [Refactor] 좌석 배치도 아이템 수정
  src/components/common/Modal/SeatModal/SeatFocusModal.tsx
  src/components/seat/SeatMap.tsx
  src/components/seat/SeatRow.tsx
  src/pages/review/CinemaSelect.tsx
Labels: ♻️Refactor, 🎨Style
